* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

.page {
  max-width: min(860px, 90%);
  margin: 10dvh auto;
  display: flex;
  flex-direction: column;
  gap: 2dvh;
}

.error {
  display: none;
  color: rgb(233, 64, 64);
  font-size: 14px;
}

.input:user-invalid:not(:focus-within) {
  border-color: rgb(233, 64, 64);
}

.input:user-invalid+.error {
  display: block;
}

.form:has(:invalid)>.button-submit {
  pointer-events: none;
  opacity: 0.4;
}